[Unit]
Description=sausage-store
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=vagrant
Group=vagrant

Type=simple

WorkingDirectory=/home/vagrant
ExecStart=/bin/java -jar sausage-store-0.0.1.jar
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
