[Unit]
Description=Sausage-store

[Service]
User=student
Environment=LOG_PATH=/opt/log
StandardOutput=file:/opt/log/sausage-store.log
StandardError=file:/opt/log/error.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/student/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/student/sausage-store-0.0.1-SNAPSHOT.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
