[Unit]
Description=Sausage-store

[Service]
User=student
Environment=LOG_PATH=/opt/log
StandardOutput=file:/opt/log/sausage-store.log
StandardError=file:/opt/log/error.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/student/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
--spring.datasource.url=jdbc:postgresql://$PSQL_HOST:$PSQL_PORT/$PSQL_DBNAME \
--spring.datasource.username=$PSQL_USER \
--spring.datasource.password=$PSQL_PASSWORD \
--spring.data.mongodb.uri=mongodb://$MONGO_USER:$MONGO_PASSWORD@$MONGO_URL:27018/$MONGO_DATABASE?tls=true \
--spring.flyway.baselineOnMigrate=true \
-jar '/home/student/sausage-store.jar'
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target
