[Unit]
Description=Sausage-store

[Service]
User=student
Environment=LOG_PATH=/opt/log
StandardOutput=file:/opt/log/sausage-store.log
StandardError=file:/opt/log/error.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/student/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
--spring.datasource.url="jdbc:postgresql://rc1a-ch60xaqh5rz5qhy0.mdb.yandexcloud.net,rc1a-whbdcnkmegsdztzc.mdb.yandexcloud.net:6432/ha-ya-practics" \
--spring.datasource.username="student" \
--spring.datasource.password="ha-rybalka_dmitrii" \
--spring.flyway.baselineOnMigrate=true \
-jar '/home/student/sausage-store.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
